input {
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid;
}
#submit {
  display: flex;
  margin: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 4px;
  background: #5285c1;
  color: white;
  width: 30%;
  max-width: 200px;
  margin-bottom: 20px;
}
